.footerLink {
  background-color: #62d2a2;
  padding-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.footerLink a {
  color: rgb(73, 70, 70);
  margin-right: 10px;
  
  font-size: 35px;
}
