@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&display=swap");

.content {
  background-color: #ffffff;
  padding: 4rem 0 4.5rem 0;
}

.content h3 {
  color: rgb(27, 27, 27);
  margin-bottom: 3rem;
  font-family: "Lora", sans-serif;
  font-size: 1.2rem;
}

.content p {
  margin: 1rem auto 0;
  color: rgb(71, 63, 63);
  font-family: "Lato";
  font-style: italic;
  font-size: 1rem;
  width: 80%;
  word-spacing: 1px;
  line-height: 1.3rem;
}

.content hr {
  color: black;
  border-style: dotted;
  border-top: none;
  border-width: 0.3rem;
  width: 40px;
  margin: 6rem auto 0 auto;
}
