@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&display=swap");

.content {
  padding: 5rem;
}

.content h3 {
  margin: 0 0 1rem;
  font-family: "Lora", sans-serif;
  font-size: 1.3rem;
}

.content p {
  margin: auto;
  padding-bottom: 1rem;
  color: rgb(68, 68, 68);
  font-family: "Lato";
  font-style: italic;
  max-width: 1150px;
  word-spacing: 1px;
  line-height: 1.3rem;
}

.content hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 0.1rem;
  max-width: 45%;
  min-width: 25%;
  margin-top: 1.5rem;
}
