.hobbies-section {
  background-color: #ff9a3c;
}

.title {
  background-color: #ff6f3c;
  color: rgb(233, 233, 233);
  font-size: 2.3rem;
  font-family: "Gentium Basic", sans-serif;
  letter-spacing: 0.3rem;
  text-align: center;
  margin: 0 0 2rem 0;
  padding: 1.5rem 0 1.5rem 0;
}

.sub-title {
  font-size: 1.2rem;
  font-family: "Lora";
}

.left-hobby {
  padding: 2rem 0 1.5rem 0;
  max-width: 1000px;
  width: 70%;
  margin: auto;
  margin-top: 1rem;
}

.left-hobby h4 {
  margin: 0;
}

.left-hobby p {
  margin: 0;
  padding-top: 1rem;
  max-width: 1000px;
  font-size: 1.1rem;
  font-family: "Lato";
  font-style: italic;
  line-height: 1.7rem;
  word-spacing: 1px;
}

.left-hobby img {
  margin: 0 1rem 0 0;
  float: left;
  width: 140px;
}

/* Right Hobby Content*/

.right-hobby {
  align-items: right;
  padding: 2rem 0 1.5rem 0;
  max-width: 1200px;
  width: 60%;
  margin: auto;
}

.right-hobby h4 {
  text-align: right;
  margin: 0;
}

.right-hobby p {
  font-size: 1.1rem;
  font-family: "Lato";
  font-style: italic;
  line-height: 1.7rem;
  margin: 0;
  max-width: 1200px;
  padding-top: 1rem;
  text-align: right;
  word-spacing: 1px;
}

.right-hobby img {
  margin: 0 0 0 1rem;
  float: right;
  width: 140px;
}

.extra-space {
  padding: 3rem;
}
