@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.primary {
  background-color: #62d2a2;
  margin: 0;
  padding: 5rem 0 5rem;
  box-shadow: 0 8px 6px -6px black;
  font-size: 1.2rem;
}

.primary h1 {
  padding: 3rem 0 0.1rem;
  font-family: "Lora", serif;
  margin: 0 0 5px;
  color: white;
  letter-spacing: 1px;
}

.primary hr {
  width: 25%;
  border-width: 3px;
  border-style: solid;
  border-right: none;
  border-left: none;
  border-top: none;
  color: white;
  margin-top: 0;
}

.occupation {
  color: white;
  font-family: "Merriweather";
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0;
  padding-top: 10px;
}

.location {
  margin: 0;
  color: white;
  font-family: "Lora", sans-serif;
}
