.headerLink {
  background-color: rgb(73, 70, 70);
  box-shadow: 1px 0 4px 4px black;
  padding-top: 0.5rem;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  border-radius: 3px;
}

.headerLink a {
  color: black;
  margin: 0 0.5rem 5px 0.5rem;
  padding: 0 5px;
  font-size: 35px;
  border-radius: 5px;
  display: flex;
}

.headerLink a:hover {
  color: white;
}

.headerLink:hover {
  opacity: 1;
}
